@import java.time.ZonedDateTime
@import java.time.Duration
@import java.time.format.DateTimeFormatter
@(list: Seq[models.Croissant])(
    implicit request: LoggedRequest[_]
)

@main {
    <img class="croissant_aside" src="@routes.Assets.at("images/croissant.svg")" />
    <article class="lastBeenHad" style="background: url(@routes.Assets.at("images/background.svg")) no-repeat center top fixed;">
        @list.headOption match {
            case Some(c: Croissant) => {
                <div class="lastBeenHad__content"  data-id="@c.id">
                    <div class="text">
                        <p>
                            <b>@c.name</b> est le/la dernier(e) à s'être fait(e) avoir...
                        </p>
                        @c.scheduleDate.map { scheduleDate =>
                          <p>
                            Il/elle a choisi de les apporter le <b>@scheduleDate.format(DateTimeFormatter.ofPattern("dd MMMM yyyy")) !</b>
                            <br />
                            <b>On a besoin de ton aide pour savoir si les croissants ont bien été payés !</b>
                          </p>
                        }.getOrElse {
                          <p>
                            Il/elle n'a pas encore choisi la date !
                          </p>
                        }
                    </div>
                    <div class="actions">
                        <button class="btn large red" data-action="pression">Mettre la pression</button>
                        @c.scheduleDate.map { scheduleDate =>
                          @defining(ZonedDateTime.now) { now =>
                            @if(scheduleDate.isAfter(now.toLocalDate.atStartOfDay(now.getZone))) {
                                <button class="btn large green" data-action="confirm">Je confirme, il a payé</button>
                              }
                          }
                        }
                    </div>
                </div>
            }
            case None => {
                <div class="lastBeenHad__content">
                    <div class="text">
                        <p>
                            Ils ont déjà tous payés leurs croissants et personne ne s'est fait avoir dernièrement... <br />
                            Bravo, la sécurité de l'entreprise est préservée (mais on a faim !)
                        </p>
                    </div>
                </div>
            }
        }
    </article>
    <div class="listBeenHad">
        <div class="listBeenHad__content">
            <h1 class="title">On attends toujours leurs croissants</h1>

            @list.map { item =>
                <article class="item" data-id="@item.id">
                    <div class="person">
                        <p class="name">
                            <b>@item.victimId</b>
                        </p>

                        <p class="howlong">
                            @defining(Duration.between(item.creationDate, ZonedDateTime.now).toDays) { days =>
                                @if(item.victimId == request.trigram) {
                                    Tu nous les doit depuis déjà @days jours. (@item.voters.size votes)
                                }else{
                                    Il les doit depuis déjà @days jours. (@item.voters.size votes)
                                }
                            }
                        </p>
                        @item.scheduleDate.map { scheduleDate =>
                            @if(item.victimId == request.trigram) {
                                <p>Tu as choisi de les apporter le @{scheduleDate.format(DateTimeFormatter.ofPattern("dd MMMM yyyy"))}</p>
                            } else {
                                <p>Il/elle compte les apporter le @{scheduleDate.format(DateTimeFormatter.ofPattern("dd MMMM yyyy"))}</p>
                            }

                        }
                    </div>
                    <div class="actions">
                        <button class="btn large green border-white" data-action="confirm">Je confirme, il a payé</button>
                        @if(item.scheduleDate.isEmpty) {
                            <button class="btn large red" data-action="pression">Mettre la pression</button>
                        }
                    </div>
                </article>
            }
        </div>
    </div>
    <script type="text/javascript">
            (function (document) {

                function tryParseJson(txt) {
                    try {
                        return JSON.parse(txt);
                    } catch (e) {
                        return undefined;
                    }
                }

                function ajaxError(req) {
                    const json = tryParseJson(req.response);
                    return json || {error: 'error while sending HTTP request'};
                }

                function ajaxPOST(url, cb) {
                    const req = new XMLHttpRequest();
                    req.open('POST', url, true);
                    req.onreadystatechange = () => {
                        if (req.readyState == 4) {
                            if (req.status == 200) cb(undefined, tryParseJson(req.response));
                            else cb(ajaxError(req));
                        }
                    };
                    req.send(null);
                }

                function runAction(action, id) {
                    ajaxPOST('/api/actions/' + action + '?id=' + id, (err, resp) => {
                        if (err) {
                            new PNotify({
                                title: 'Nope!',
                                text: err.error,
                                type: 'error'
                            })
                            console.error('Error while sending action:', err.error);
                        }
                        else {
                            if (action === 'pression') {
                              new PNotify({
                                  title: 'Ok!',
                                  type: 'success',
                                  text: resp.success
                              })
                            } else if (action === 'confirm') {
                              new PNotify({
                                  title: 'Ok!',
                                  type: 'success',
                                  text: resp.success
                              })
                            }
                        }
                    });
                }

                function init() {
                    const actions = document.querySelectorAll('[data-action]');
                    for (let i=0; i < actions.length; i++) {
                        actions[i].onclick = (e) => {
                            const target = e.target;
                            const action = target.getAttribute('data-action');

                            let id = undefined;
                            {
                                let it = target.parentElement;
                                while (it) {
                                    id = it.getAttribute('data-id');
                                    if (id) break;
                                    it = it.parentElement;
                                }
                            }

                            if (action && id) runAction(action, id);
                        };
                    }
                }

                if (document.readyState != 'loading') init();
                else document.addEventListener('DOMContentLoaded', init);

            })(document);
    </script>
}
