# Ignore Play! working directory #
server.pid
*.eml
.cache
.DS_Store
.idea

scripts/node_modules/
scripts/npm-debug.log

server/project/target
server/target
server/tmp
server/logs
server/project/project
server/public/stylesheets/croissify.css
server/public/javascripts/croissify.js
server/startCroissify.sh