# Ignore Play! working directory #
server.pid
*.eml
.cache
.DS_Store
.idea
.vscode
npm-debug.log
node_modules/

main.js
main.css
*.js.map
*.css.map

server/project/target
server/target
server/tmp
server/logs
server/project/project
server/public/stylesheets/croissify.css
server/public/javascripts/croissify.js
server/startCroissify.sh
